.project-card {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.project-image,
.project-video {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%; 
}

.project-video-container,
.project-image-container {
  height: 400px; /* Ensure containers adjust height automatically */
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .project-card {
    padding: 10px;
  }

  .project-image,
  .project-video {
    height: 400px;
  }
  
  .project-description {
    padding-top: 10px;
  }
}

@media (max-width: 576px) {
  .project-card {
    padding: 5px;
  }

  .project-description {
    padding-top: 5px;
  }
}
