.project-card {
  /* background-color: rgb(203, 171, 171);
  color: white;
  padding: 20px;
  border-radius: 8px; */
  background-color: #2A2A2A;
  border: 1px solid #D4AF37;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(212, 175, 55, 0.3);
  padding: 20px;
}
.project-card h2 {
  color: #F5F5F5;
}

.project-card p {
  color: #C0C0C0;
}

.project-image,
.project-video {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%; 
}

.project-video-container,
.project-image-container {
  height: 400px; /* Ensure containers adjust height automatically */
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 
.btn-primary {
  background-color: #e1d4a7; /* Gold color 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
} */
/* 
.btn-primary:hover {
  background-color: #c28787; /* Darker gold 
} */

.btn-primary {
  background-color: #D4AF37;
  color: #121212;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #B8860B;
}


/* Media queries for responsive design */
@media (max-width: 768px) {
  .project-card {
    padding: 10px;
  }

  .project-image,
  .project-video {
    height: 400px;
  }
  
  .project-description {
    padding-top: 10px;
  }
}

@media (max-width: 576px) {
  .project-card {
    padding: 5px;
  }

  .project-description {
    padding-top: 5px;
  }
}
